*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.main-child{
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 0.5pc;
    overflow: hidden;

    
}
.main-child > img{
    float: left;
    height:100%;
}

.perfume{
    margin-top:20px;
    margin-left:325px;
    color:rgba(0,0,0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
}

.written h2{
    margin-top: 20px;
    margin-left:325px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
}


.rate{
    margin-top:35px;
    margin-left: 330px;
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 20px;
    display: block;

}

button{
    width:16em;
    height: 3.5em;
    border-radius: 0.4pc;
    background-color:hsl(158, 36%, 37%) ;
    border:1px solid hsl(158, 36%, 37%);
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    margin-left: 30px;
    margin-top:30px;
}
